* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.login_container h2 {
	font-size: 25px;
}
.log_buttons {
	display: flex;
}
.login_content {
	margin-bottom: 5vh;
}
.login_content input {
	max-width: 25vw;
	width: 100%;
	margin: auto;
	min-width: 80px;
}
label {
	width: 100px;
	margin: 10px;
}
.inputSuccess {
	background-color: rgb(29, 101, 0);
	border: 2px solid green;
}
.inputError {
	background-color: rgb(101, 0, 0);
	border: 2px solid red;
}
.grecaptcha-badge {
	visibility: hidden;
}
.login_container {
	margin: 5vh auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: black solid 1px;
	max-width: 50vw;
	width: 80%;
	margin-bottom: 12vh;
	background-color: #f2f2f2;
	border-radius: 5px;
	padding: 2vh;
}
.input_log {
	display: flex;
	justify-content: space-between;
	margin: 2vh 0;
}
.login_container button {
	padding: 2vh 2vw;
	width: 15vw;
	min-width: 80px;
	margin: 0 5vw;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	background-color: rgb(22, 26, 22);
	color: aliceblue;
	cursor: pointer;
}
.login_container button:hover {
	background-color: grey;
}
.captcha {
	visibility: hidden;
}
@media only screen and (max-width: 600px) {
	.input_log {
		flex-direction: column;
	}
	label {
		width: fit-content;
	}
	.log_buttons {
		flex-direction: column;
	}
	.log_buttons button {
		margin: 1vh 0;
	}
}
